<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>Zombie Survival Game Instructions</title>
</head>
<body class="color">
    <img src="/static/blood_splatter.gif" alt="Blood Splatter Gif" height="200">
    <br><br>
    <h1>How to Play</h1>
    <br>
    <h3 style="color: white">In this game, the user is posed with a scenario and two different ways they can approach that situation.
    Either option has a survival percentage, or how likely the user will survive if they choose that answer. When the user chooses an option,
    the program will run a random number generator(from a range of 1-10 or 1-15), and that number will be used to determine whether the
    user moves on to the next question or not. For example, let's say one option has a survival percentage of 70% and the random number
    generator has a range of 1-10. That means if a number from 1-7 is generated, the user will continue to the next screen. If a number
    from 8-10 is generated, the user will be directed to the game over screen. Some options have survival percentages of 100% and 0%, so it
    is up to the user to realize when that is the case. Furthermore, the survival percentage of each option are not affected by decisions
    the user makes throughout the game. Enjoy!</h3>
    <a href="/" class="btn btn-secondary" role="button">Back to the Game</a>
    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>