<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>You Won the Zombie Survival Game!</title>
</head>
<body class="color">
    <br><br>
    <h3>You were lucky and got saved by the authorities! You have won the game!</h3>
    <br>
    <img src="/static/congrats.gif" alt="congrats gif">
    <br><br>
    <a href="/" class="btn btn-secondary btn-lg" role="button">Click here to play again</a>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>