<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>Zombie Survival Game</title>
</head>
<body class="color2">
    <br><br>
    <h5>It’s 6:00PM, and you’re sitting on your couch, excited that the day has finally come to an end. You’ve been wanting to catch up on your favorite tv show for a while, but work has been keeping you busy. Before you even have the chance to turn on the tv, however, your phone begins to violently ring. The screen reads:</h5>
    <br><br>
    <p class="red"><b>GOVERNMENT ANNOUNCEMENT:</b><br>WARNING: THE ZOMBIE APOCALYPSE IS HAPPENING. STAY INSIDE YOUR HOME AND AWAY FROM AREAS OF YOUR HOME VISIBLE TO THE OUTSIDE WORLD. LOCK YOUR DOORS AND WINDOWS. <b>DO NOT</b> GO OUTSIDE OR LET ANYONE INTO YOUR HOME.</p>
    <br><br>
    <h5>While you are a little bit skeptical, you know there's no way this could be a joke if a message showed up on your phone. You call your family and friends to see if they got the same message and turn on the tv to see if the news is saying the same thing.</h5>
    <br>
    <a href="/story_1" class="btn btn-secondary small" role="button">Continue</a>
    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>