<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>Zombie Survival Game</title>
</head>
<body class="color2">
    <br><br>
    <h5>Once you get home, you and your neighbor see a note on your desk that says:</h5>
    <br>
    <p class="red">Call 1-800-ZOMBIES if you want to survive.</p>
    <br>
    <h5>What do you do?(hint: you can't get this wrong!)</h5>
    <br>
    <a href="/s1_a_b_b" class="btn btn-secondary small" role="button">Someone's been here and is looking for us! We have to call the number!</a>
    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>