<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>Zombie Survival Game</title>
</head>
<body class="color2">
    <br><br>
    <h5>You've been living off of whatever you have at home for a week. You know going outside is dangerous, so you haven't tried to leave yet. All of a sudden, you hear a knock on your door again.<br><br>What do you do?</h5>
    <br>
    <img src="/static/knocking_door.gif" alt="knocking on door gif">
    <br><br>
    <a href="/s1_a_safe" class="btn btn-secondary small" role="button">Maybe it would be a better idea to open the door this time, you're going to run out of supplies at home anyway.</a>
    <br><br>
    <a href="/s1_a_died" class="btn btn-secondary small" role="button">You didn't open the door last time, and you were safe. Who's saying it would be smart to open the door this time?</a>
    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>