<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>You Lost the Zombie Survival Game!</title>
</head>
<body class="color">
    <br><br>
    <h1>You Lost</h1>
    <br>
    <h3>Oh no! You opened the door and there was a zombie behind it! Better luck next time!</h3>
    <br>
    <img src="/static/bummer.gif" alt="bummer gif">
    <br><br>
    <a href="/" class="btn btn-secondary btn-lg" role="button">Click here to play again</a>
    <br><br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>