<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/zombie.css">
    <title>Zombie Survival Game</title>
</head>
<body class="color2">
    <br><br>
    <h5>You've been inside the supermarket for a week and using the items there to sustain yourself. All of a sudden, you see a mob of zombies walking into the supermarket and heading towards your direction.<br><br>What do you do?</h5>
    <br>
    <img src="/static/hiding.gif" alt="hiding gif">
    <br><br>
    <a href="/s1_a_b_a_ending1" class="btn btn-secondary small" role="button">Hide! They can't find you if they can't see you!</a>
    <br><br>
    <img src="/static/fight.gif" alt="fighting gif">
    <br><br>
    <a href="/s1_a_b_b_ending2" class="btn btn-secondary small" role="button">Fight back. They can't be that strong!</a>
    <br><br><br>

</body>
</html>